@page "/"

	<!-- Banner Conference Two -->
    <section class="banner-conference-two" style="background-image: url(HyeSolutions/images/background/6.jpg)">
        <!-- Icons -->
		<div class="icons parallax-scene-1">
			<!-- Icon One -->
			<div data-depth="0.20" class="icon-one parallax-layer" style="background-image:url(HyeSolutions/images/icons/icon-1.png)"></div>
			<!-- Icon Two -->
			<div data-depth="0.50" class="icon-two parallax-layer" style="background-image:url(HyeSolutions/images/icons/icon-2.png)"></div>
			<!-- Icon Three -->
			<div data-depth="0.10" class="icon-three parallax-layer" style="background-image:url(HyeSolutions/images/icons/icon-3.png)"></div>
			<!-- Icon Four -->
			<div data-depth="0.30" class="icon-four parallax-layer" style="background-image:url(HyeSolutions/images/icons/icon-4.png)"></div>
			<!-- Icon Five -->
			<div data-depth="0.10" class="icon-five parallax-layer" style="background-image:url(HyeSolutions/images/icons/icon-5.png)"></div>
			<!-- Icon Six -->
			<div data-depth="0.20" class="icon-six parallax-layer" style="background-image:url(HyeSolutions/images/icons/icon-6.png)"></div>
			<!-- Icon Seven -->
			<div data-depth="0.10" class="icon-seven parallax-layer" style="background-image:url(HyeSolutions/images/icons/icon-7.png)"></div>
			<!-- Icon One -->
			<div data-depth="0.20" class="icon-eight parallax-layer" style="background-image:url(HyeSolutions/images/icons/icon-1.png)"></div>
			<!-- Icon Two -->
			<div data-depth="0.50" class="icon-nine parallax-layer" style="background-image:url(HyeSolutions/images/icons/icon-8.png)"></div>
			<!-- Icon Three -->
			<div data-depth="0.10" class="icon-ten parallax-layer" style="background-image:url(HyeSolutions/images/icons/icon-3.png)"></div>
			<!-- Icon Four -->
			<div data-depth="0.30" class="icon-eleven parallax-layer" style="background-image:url(HyeSolutions/images/icons/icon-4.png)"></div>
			<!-- Icon Five -->
			<div data-depth="0.10" class="icon-twelve parallax-layer" style="background-image:url(HyeSolutions/images/icons/icon-5.png)"></div>
			<!-- Icon Six -->
			<div data-depth="0.20" class="icon-thirteen parallax-layer" style="background-image:url(HyeSolutions/images/icons/icon-6.png)"></div>
			<!-- Icon Seven -->
			<div data-depth="0.10" class="icon-fourteen parallax-layer" style="background-image:url(HyeSolutions/images/icons/icon-7.png)"></div>
		</div>
		<div class="images-outer">
            <figure class="speaker-img"><img src="HyeSolutions/HyeSolutions/images/main-slider/banner_img.png" alt=""></figure>
        </div>

        <div class="auto-container">
            <div class="content-box">
                <span class="title">1st to 10 March 2019, Gold-Land Hotel, Canada</span>
                <h2>World Digital <br>Conference 2022</h2>
                <div class="time-counter"><div class="time-countdown clearfix" data-countdown="12/10/2022"></div></div>
                <div class="btn-box"><a href="buy-ticket.html" class="theme-btn btn-style-two"><span class="btn-title">Booking Now</span></a></div>
            </div>
        </div>
    </section>
    <!--End Banner Conference Two -->
@*<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />*@

